/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /* COLORS */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0);
  /* light theme */
  --background-light: hsl(293, 100%, 98%);
  --on-background-light: hsl(264, 8%, 12%);
  --surface-light: hsl(293, 100%, 98%);
  --on-surface-light: hsl(264, 8%, 12%);
  --on-surface-variant-light: hsl(264, 7%, 29%);
  --surface-container-low-light: hsl(278, 44%, 96%);
  --surface-container-light: hsl(276, 38%, 95%);
  --surface-bright-light: hsl(293, 100%, 98%);
  --primary-light: hsl(256, 34%, 48%);
  --on-primary-light: hsl(0, 0%, 100%);
  --outline-light: hsl(270, 4%, 47%);
  --outline-variant-light: hsl(270, 11%, 79%);

  /* dark theme */
  --background-dark: hsl(260, 14%, 8%);
  --on-background-dark: hsl(280, 17%, 90%);
  --surface-dark: hsl(260, 14%, 8%);
  --on-surface-dark: hsl(280, 17%, 90%);
  --on-surface-variant-dark: hsl(270, 11%, 79%);
  --surface-container-low-dark: hsl(264, 8%, 12%);
  --surface-container-dark: hsl(257, 10%, 14%);
  --surface-bright-dark: hsl(270, 5%, 23%);
  --primary-dark: hsl(258, 100%, 87%);
  --on-primary-dark: hsl(259, 58%, 28%);
  --outline-dark: hsl(264, 5%, 58%);
  --outline-variant-dark: hsl(264, 7%, 29%);

  /* font family */
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Noto Sans", sans-serif;

  /* font size */
  --base-font-size: 62.5%;
  --display-large: 5.7rem;
  --display-medium: 4.5rem;
  --display-small: 3.6rem;
  --headline-large: 3.2rem;
  --headline-medium: 2.8rem;
  --headline-small: 2.4rem;
  --title-large: 2rem;
  --title-medium: 1.6rem;
  --title-small: 1.4rem;
  --label-large: 1.4rem;
  --label-medium: 1.2rem;
  --label-small: 1.1rem;
  --body-large: 1.6rem;
  --body-medium: 1.4rem;
  --body-small: 1.2rem;

  /* Font weight */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi: 600;

  /* border radius */
  --shape-corner-extra-small: 4px;
  --shape-corner-small: 8px;
  --shape-corner-medium: 12px;
  --shape-corner-large: 16px;
  --shape-corner-full: 500px;
  --shape-corner-circle: 50%;

  /* Box shadow */
  --elevation-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
  /* Others */
  --section-padding: 24px;
  --top-bar-height: 64px;
}
[data-theme="light"] {
  color-scheme: light;
  --background: var(--background-light);
  --on-background: var(--on-background-light);
  --surface: var(--surface-light);
  --on-surface: var(--on-surface-light);
  --on-surface-variant: var(--on-surface-variant-light);
  --surface-container-low: var(--surface-container-low-light);
  --surface-container: var(--surface-container-light);
  --surface-bright: var(--surface-bright-light);
  --primary: var(--primary-light);
  --on-primary: var(--on-primary-light);
  --outline: var(--outline-light);
  --outline-variant: var(--outline-variant-light);
}
[data-theme="dark"] {
  color-scheme: dark;
  --background: var(--background-dark);
  --on-background: var(--on-background-dark);
  --surface: var(--surface-dark);
  --on-surface: var(--on-surface-dark);
  --on-surface-variant: var(--on-surface-variant-dark);
  --surface-container-low: var(--surface-container-low-dark);
  --surface-container: var(--surface-container-dark);
  --surface-bright: var(--surface-bright-dark);
  --primary: var(--primary-dark);
  --on-primary: var(--on-primary-dark);
  --outline: var(--outline-dark);
  --outline-variant: var(--outline-variant-dark);
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    /* Transition */

    /* Duration */
    --motion-duration-short-1: 100ms;
    /* Easing */
    --motion-easing-linear: cubic-bezier(0, 0, 1, 1);
  }
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
img,
span,
input,
button,
textarea {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}
input,
textarea {
  width: 100%;
}
button {
  cursor: pointer;
}
textarea {
  resize: none;
}
html {
  font-family: var(--font-secondary);
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}
body {
  background-color: var(--background);
  color: var(--on-background);
  font-size: var(--body-large);
}

/*-----------------------------------*\
  #TYPOGRAPHY
\*-----------------------------------*/
.display-large {
  font-family: var(--font-primary);
  font-size: var(--display-large);
  line-height: 64px;
  font-weight: var(--weight-regular);
  letter-spacing: -0.25px;
}
.display-medium {
  font-family: var(--font-primary);
  font-size: var(--display-medium);
  line-height: 52px;
  font-weight: var(--weight-regular);
}
.display-small {
  font-family: var(--font-primary);
  font-size: var(--display-small);
  line-height: 44px;
  font-weight: var(--weight-regular);
}
.headline-large {
  font-family: var(--font-primary);
  font-size: var(--headline-large);
  line-height: 40px;
  font-weight: var(--weight-regular);
}
.headline-medium {
  font-family: var(--font-primary);
  font-size: var(--headline-medium);
  line-height: 36px;
  font-weight: var(--weight-regular);
}
.headline-small {
  font-family: var(--font-primary);
  font-size: var(--headline-small);
  line-height: 32px;
  font-weight: var(--weight-regular);
}
.title-large {
  font-family: var(--font-primary);
  font-size: var(--title-large);
  line-height: 28px;
  font-weight: var(--weight-regular);
}
.title-medium {
  font-family: var(--font-primary);
  font-size: var(--title-medium);
  line-height: 24px;
  font-weight: var(--weight-semi);
  letter-spacing: 0.15px;
}
.title-small {
  font-family: var(--font-primary);
  font-size: var(--title-small);
  line-height: 20px;
  font-weight: var(--weight-regular);
  letter-spacing: 0.1px;
}
.label-large {
  font-size: var(--label-large);
  line-height: 20px;
  font-weight: var(--weight-medium);
  letter-spacing: 0.1px;
}
.label-medium {
  font-size: var(--label-medium);
  line-height: 16px;
  font-weight: var(--weight-medium);
  letter-spacing: 0.5px;
}
.label-small {
  font-size: var(--label-small);
  line-height: 16px;
  font-weight: var(--weight-medium);
  letter-spacing: 0.5px;
}
.body-large {
  font-size: var(--body-large);
  line-height: 24px;
  font-weight: var(--weight-regular);
  letter-spacing: 0.5px;
}
.body-medium {
  font-size: var(--body-medium);
  line-height: 20px;
  font-weight: var(--weight-regular);
  letter-spacing: 0.25px;
}
.body-small {
  font-size: var(--body-small);
  line-height: 16px;
  font-weight: var(--weight-regular);
  letter-spacing: 0.4px;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
.material-symbols-outlined {
  width: 1em;
  height: 1em;
  display: block;
}
:has(> .state-layer) {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.state-layer {
  position: absolute;
  inset: 0;
  background-color: var(--state-layer-bg);
  transition: var(--motion-duration-short-1) var(--motion-easing-linear);
  opacity: 0;
}
:has(> .state-layer):hover .state-layer {
  opacity: 0.08;
}
:has(> .state-layer):is(:focus, :focus-visible, :active) .state-layer {
  opacity: 0.12;
}

.section {
  padding-block: var(--section-padding);
  padding-inline: 24px;
}
.container {
  padding-inline: 16px;
}
.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: transparent;
  overflow: hidden;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab-content:not(.active) {
  display: none;
}
.divider {
  height: 1px;
  background-color: var(--outline-variant);
}
/*-----------------------------------*\
  #COMPONENT
\*-----------------------------------*/

/**
 * BUTTON
 */
.icon-btn {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}
/**
 * TAB
 */
.primary-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  border-bottom: solid 1px var(--outline-variant);
}
.tab-btn {
  height: 48px;
  width: 100%;
  background-color: var(--surface);
  color: var(--on-surface-variant);
  --state-layer-bg: var(--on-surface-variant);
}
.tab-btn.active {
  color: var(--primary);
  --state-layer-bg: var(--primary);
}
.tab-text {
  position: relative;
  height: 48px;
  line-height: 48px;
}
.tab-text::after {
  content: "";
  position: absolute;
  inset: auto 50% 0 auto;
  transform: translateX(50%);
  width: 56px;
  height: 3px;
  border-radius: 3px 3px 0 0;
  background-color: var(--primary);
  opacity: 0;
}
.tab-btn.active .tab-text::after {
  opacity: 1;
}

/**
 * CHIP
 */
.chip {
  max-width: max-content;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-inline: 16px;
  border: 1px solid var(--outline);
  border-radius: var(--shape-corner-small);
  background-color: var(--surface);
  color: var(--on-surface-variant);
  --state-layer-bg: var(--on-surface-variant);
}
.chip .material-symbols-outlined {
  font-size: 1.8rem;
}
/**
 * CARD
 */
.card {
  background: var(--background);
  /* min-width: 366px; */
  max-width: 420px;
  padding: 16px;
  border-radius: var(--shape-corner-medium);
  --state-layer-bg: var(--on-surface);
}
.card .img-cover {
  border-radius: 12px;
  margin-bottom: 14px;
}
.card .card-content {
  line-height: 1.43;
}
.card .card-content small {
  color: var(--on-surface-variant);
}
.card-title {
  color: var(--on-surface);
}

/**
 * INPUT FIELD
 */

/*-----------------------------------*\
  #TOP BAR
\*-----------------------------------*/
.topbar {
  width: 100%;
  padding-inline: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background);
  height: var(--top-bar-height);
  top: 0;
  left: 0;
  position: sticky;
  z-index: 4;
}

[data-theme="light"] .logo .dark,
[data-theme="dark"] .logo .light {
  display: none;
}
[data-theme="light"] .icon-btn .light,
[data-theme="dark"] .icon-btn .dark {
  display: none;
}
.theme-btn {
  color: var(--on-surface-variant);
  border-radius: var(--shape-corner-full);
  --state-layer-bg: var(--on-surface-variant);
  overflow: hidden;
}
/*-----------------------------------*\
  #HERO
\*-----------------------------------*/
.hero {
  padding-inline: 24px;
}
.hero .container {
  display: grid;
  align-items: center;
  gap: 24px;
}
.hero-banner {
  width: 240px;
  border-radius: var(--shape-corner-circle);
}
.hero-content {
  max-width: 500px;
}
.hero .section-subtitle {
  color: var(--on-surface-variant);
}
.hero .section-text {
  margin-block: 5px 16px;
  color: var(--on-surface-variant);
}
.hero .btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
/*-----------------------------------*\
  #ABOUT CARD
\*-----------------------------------*/
.about {
  padding-inline: 24px;
}
.about .container {
  padding-block: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: var(--shape-corner-medium);
  background-color: var(--surface-container-low);
}

.about-heading,
.about-content {
  width: 100%;
  color: var(--on-surface);
  border-bottom: 1px solid var(--on-surface-variant);
  padding-block: 12px;
}
.about-content {
  color: var(--on-surface-variant);
}
.info {
  padding-block: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
}
.info .info-item {
  min-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  gap: 4px;
}
/*-----------------------------------*\
  #PROJECT
\*-----------------------------------*/
.list,
.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  place-items: center;
  align-items: start;
  gap: 12px;
}
/*-----------------------------------*\
  #RESUME
\*-----------------------------------*/

.job .job-subtitle {
  color: var(--primary);
}
.job .job-content {
  color: var(--on-surface-variant);
}
.skills-tab {
  margin-top: 12px;
  grid-column: 1/-1;
  width: 100%;
}
.skills {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  width: 100%;
  gap: 12px;
  padding: 12px 0;
  place-items: start;
}
.skill {
  display: flex;
  width: 100%;
  gap: 8px;
  justify-content: start;
  align-items: center;
  padding: 12px;
  border-radius: var(--shape-corner-small);
}
/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/
.contact-section {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
}
.contact-section > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contact-section .connect {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}
.connect .material-symbols-outlined {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  color: var(--on-surface-variant);
}
.connect .connect-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.social-links {
  display: flex;
  align-items: center;
  gap: 12px;
}
.social-links a {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links a * {
  width: 28px;
  height: 28px;
  fill: var(--on-surface-variant);
  background-size: cover;
}
.form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: start;
}
.form h4 {
  color: var(--on-surface);
}
.form input,
textarea {
  padding: 0 16px;
  height: 48px;
  border-radius: var(--shape-corner-extra-small);
  border: 1px solid var(--outline);
  color: var(--on-surface-variant);
}
textarea {
  height: 120px;
  padding: 16px;
}
.form button {
  width: 100%;
  height: 40px;
  background: var(--primary);
  border-radius: var(--shape-corner-full);
  color: var(--on-primary);
}
/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
footer {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--on-surface-variant);
  border-top: 1px solid var(--outline-variant);
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

@media (min-width: 768px) {
  .article {
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: start;
  }
  .hero .container {
    grid-template-columns: 0.2fr 1fr;
  }
  /* Hero */
}

@media (min-width: 1200px) {
  .container,
  .article {
    max-width: 1128px;
    margin-inline: auto;
  }
}
